@import "layout/frontend_document";
@import "static_image_map";
@import "content_text_area";

.house-document-sidebar-section,
.house-document-sidebar-section-header,
.house-document-sidebar-menu-item {
  border-bottom: 1px solid #ddd;

  &:last-child {
    margin-bottom: -1px;
  }
}

.house-document-sidebar-section-header,
.house-document-sidebar-menu-item {
  padding: 1em 20px;
  font-weight: bold;
  font-size: $font-size-small;
}

.house-document-sidebar-section-header {
  text-transform: uppercase;
  text-align: center;
  color: #999;
}

.house-document-sidebar-menu-item {
  padding-left: 40px;

  a {
    color: $text-color;
  }
}
