.search-result-document-sidebar {
  margin-left: -($grid-gutter-width / 2);
  margin-right: -($grid-gutter-width / 2);
  padding: ($grid-gutter-width / 2);
  height: 300px;
  background-color: #f6f6f6;
}
